.card {
  background: linear-gradient(112.1deg, #000000 11.4%, #2d3436 70.2%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
